<ul>
	<% @books.each do |book| %>
		<li>
		<%= book.name %>
		<%= link_to "View", book_path(book) %>
		<%= link_to "Edit", edit_book_path(book) %>
		<%= link_to "Delete", book_path(book), :method => :delete %>
		</li>
	<% end %>
</ul>
<%= paginate @books %>
<%= link_to "Create a new Book", new_book_path %>
